*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    letter-spacing: 0.25rem;
    font-family: 'Konkhmer Sleokchher', cursive;
    text-decoration: none;
}

html{
    font-size: 62.5%;
}

/* top */

header{
    background-color: #0000a4;
    padding: 3rem;
    display: flex;
    align-items: center;
    height: 9rem;
}

header h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
  
header h1 a{
    display: inline-block;
    width: 6rem;
    height: 6rem;
}

.logo{
    width: 6rem;
    height: 6rem;
}

.logo:hover{
    cursor: pointer;
}
  
nav {
    margin-left: auto;
}

nav ul{
    display: flex;
    gap: 1rem;
}

nav ul li{
    height:4rem;
    width: 10rem;
    background-color: #fff;
    color: #0000a4;
    border: none;
    border-radius: 0.5rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-family: Arial, sans-serif;
}

nav ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0000a4;
    width: 100%;
    height: 100%;
}

/*MIAN*/
  
main{
    min-height: 100vh;
    font-size: 2rem;
    background: white;
    font-family: sans-serif;
    padding: 8rem;
    overflow: hidden;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    animation-fill-mode: backwards;
    animation-name: popup;
    animation-duration: 0.2s;
    animation-delay: 1s;
}

.modal{
    width: 50rem;
    height: 13rem;
    background: green;
    position: fixed;
    top: 0%;
    right: 32%;
    background: #0000a4;
    box-shadow: 0 0 5rem 0 rgba(0,0,0,0.3);
    color: white;
    font-size: 100%;
    font-weight: 400;
    border-radius: 0.5rem;
    display: none;
}

.modal--p{
    display: flex;
    justify-content: center;
    padding: 4rem;
}

.shoppingCart:hover{
    cursor: pointer;
}

.a-popup{
    animation-name: popup;
    animation-duration: 0.8s;
    animation-fill-mode: backwards;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border:0.25rem solid #0000a4;
}

.checkOut{
    width: 75%;
    height: 80%;
    background: white;
    padding: 4rem;
    display: none;
}

.price--filter{
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

select{
    width: 25%;
    border: #0000a4 solid 0.25rem;
    color: #0000a4;
    background: #eee;
}

select:hover{
    cursor: pointer;
    color: #0000a4;
}

select option{
    font-family: 'Konkhmer Sleokchher', cursive;
}

.product{
    padding: 10rem;
}

.product--h2{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f91906;
    color: #fff;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 15rem;
}

.product--prijs{
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 100%;
    height: 20%;
}

.inputs{
    display: flex;
    gap: 2rem;
    width: 50%;
    margin-bottom: 5rem;
}

.inputs > section{
    display: flex;
    width: 50%;
}

.label:hover{
    cursor: pointer;
}

.filter{
    width: 5rem;
    height: 5rem;
    margin-right: 2rem;
    appearance: none;
    -webkit-appearance: none;
    background: #eee;
    border: #03031a  0.25rem solid;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
}

.filter:hover{
    cursor: pointer;
}

.filter:checked{
    border: #03031a  0.25rem solid;
    background: #0000a4;
}

.filter:checked ~ .label{
    text-decoration: underline;
}


.parts{
    display: flex;
    /*justify-content:center;*/
    /*align-items:center;*/
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 2rem;
    align-items: center;
    width: 100%;
}

.part--section{
    border: #0000a4 0.25rem solid;
    background: white;
    width: 20%;
    height: 40rem;
}

.part--section a{
    width: 100%;
    height: 100%;
    border: #0000a4;
    color: #03031a;
}

.part{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: white;
    flex-direction: column;
    padding: 1rem;
}

.part > h1{
    display: flex;
    justify-content: center;
    padding: 2rem;
    height: 100%;
    width: 25%;
}

.part img{
    width: 8rem;
    height: 20%;
    border-radius: 50%;
    border: #0000a4 solid 0.25rem;
}

.part h1 a{
    height: 100%;
    width: 25%;
}

.product--body{
    display: flex;
    gap: 1rem;
    height: 60%;
    width: 100%;
    padding: 2rem;
    font-size: 1.5rem;
    flex-direction: column;
}

.product__h3{
    width: 100%;
    display: flex;
}

.product--body p{
    font-size: 0.8rem;
}

/*footer*/

footer{
    grid-area: footer;

    min-height: 30rem;
    border-top: #e6e6e8 0.1rem solid;
    display: grid;
    grid-template-columns:repeat(2, 1fr) ;
    grid-template-rows:repeat(2,1fr);
}

.footer--image{
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 20%;
    grid-column: 1/3;
    grid-row: 1/2;
}

.footer--image img{
    width: 20%;
}

.locatie{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-left: #e6e6e8;
}

.maps{
    border-radius: 2rem;
    width: 80%; 
    height: 80%; 
    border: 0;
}

.contact--info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5rem;
}

.contact--info a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #03031a;
    text-decoration: underline 0.1rem solid;
}


@keyframes popup {
    from{
        opacity: 0;
        transform: translateY(2rem);
    }
    to{
        opacity: 1;
        transform: translateY(0); 
    }
    
}

@media screen and (max-width: 83.4375rem){
    header{
        height: 20rem;
        flex-direction: column;
        gap: 2rem;
    }

    header > nav{
        width: 100%;
    }

    header > nav > ul{
        display: flex;
        justify-content: space-evenly;
    }

    .inputs{
        display: flex;
        justify-content: center;
        width: 50%;
    }


    #js--sortOrder{
        width: 50%;
    }

    .part--section{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 35rem;
    }

    .product--body{
        height: auto;
    }

    .product--body h1, .product__h3{
        display: flex;
        justify-content: center;
        padding: 0;
        width: 100%;
        font-size: 1rem;
        height: 100%;
    }

    .part .product--body p{
        display: none;
    }

    .product--h2{
        font-size: 1rem;
        width: 75%;
    }

    footer{
        gap: 2rem;
    }

    .footer--image img{
        width: 50%;
    }

    footer .locatie{
        display: none;
    }

    .contact--info{
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        grid-column: 1/3;
    }
}


@media screen and (max-width: 51.5625rem) {

    .inputs{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .inputs input{
        display: none;
    }

    .label{
        display:none;
    }

    .parts{
        display: flex;
        flex-direction: column;
    }

    .part--section{
        width: 100%;
    }

    .part .product--body{
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .product--h2{
        font-size: 2rem;
        width: 75%;
    }
}

